In [2]:
from sklearn.linear_model import LinearRegression
from sklearn.datasets import load_boston
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()

boston = load_boston()
X, y = boston.data, boston.target
clf1 = LinearRegression().fit(X, y)

coef_df = pd.DataFrame(clf1.coef_,
                       index=boston.feature_names,
                       columns=['clf1'])
coef_df

              clf1
CRIM     -0.108011
ZN        0.046420
INDUS     0.020559
CHAS      2.686734
NOX     -17.766611
RM        3.809865
AGE       0.000692
DIS      -1.475567
RAD       0.306049
TAX      -0.012335
PTRATIO  -0.952747
B         0.009312
LSTAT    -0.524758

https://qiita.com/Takayoshi_Makabe/items/faa735ae0db9655b2ea9

https://dafriedman97.github.io/mlbook/content/c1/code.html

In [3]:
class OLinerReg:

    def __init__(self):
        self.w_ = None

    def fit(self,x,y,intercept = False):
        self.x = np.array(x)
        self.y = np.array(y)
        if intercept == False:
            self.x = np.insert(x, 0, 1, axis=1)
        
        XtX = np.dot(self.x.T, self.x)
        Xty = np.dot(self.x.T, self.y)
        XtX_inv = np.linalg.inv(XtX)
        self.w_ = np.dot(Xty, XtX_inv)

        self.y_hat = np.dot(self.x, self.w_)
        
        # calculate loss
        self.L = .5*np.sum((self.y - self.y_hat)**2)
    
    def pred(self,x,intercept = True):
        self.y_test_hat = np.dot(X_test, self.beta_hats)

In [5]:
clf2 = OLinerReg()
clf2.fit(X, y)
coef_df['clf2'] = clf2.w_[1:]
coef_df

              clf1       clf2
CRIM     -0.108011  -0.108011
ZN        0.046420   0.046420
INDUS     0.020559   0.020559
CHAS      2.686734   2.686734
NOX     -17.766611 -17.766611
RM        3.809865   3.809865
AGE       0.000692   0.000692
DIS      -1.475567  -1.475567
RAD       0.306049   0.306049
TAX      -0.012335  -0.012335
PTRATIO  -0.952747  -0.952747
B         0.009312   0.009312
LSTAT    -0.524758  -0.524758